@import 'src/custom.scss';
.log_block {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;

    table{
        max-width: 90vw;
        height: 80vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
      min-width: 120px;
      vertical-align: middle;
      text-align: center;
      color: #858585;
      font-size: large;
      white-space: nowrap;
    }
  
    th.mat-header-cell {
      color: $deep-blue;
      font-weight: bold;
    }
  
    .mat-column-Content {
      width: 300px !important;
      white-space: pre-wrap !important;
    }

    .mat-column-Time {
      width: 200px !important;
      white-space: pre-wrap !important;
    }
  }